{% extends 'base.html.twig' %}

{% block title %}Accueil{% endblock %}

{% block body %}
    <div class="container">
        <h1>Bienvenue sur Profilau.top</h1>
        <p>Votre outil pour simplifier et optimiser votre recherche d'emploi.</p>

        {% if is_granted('ROLE_USER') %}
            <a href="{{ path('dashboard_index') }}" class="btn btn-primary">Accéder au tableau de bord</a>
        {% else %}
            <a href="{{ path('app_login') }}" class="btn btn-primary">Se connecter</a>
            <a href="{{ path('app_register') }}" class="btn btn-secondary">S'inscrire</a>
        {% endif %}
    </div>
{% endblock %}
