{% extends 'base.html.twig' %}

{% block title %}Lettre de motivation{% endblock %}

{% block body %}
    <div class="container">
        <h1>Lettre de motivation</h1>
        <p>{{ coverLetter.content }}</p>
    </div>
{% endblock %}
