{% extends 'base.html.twig' %}

{% block title %}Kanban{% endblock %}

{% block body %}
    <div class="container">
        <h1>Kanban Board</h1>
        <!-- Kanban board content will go here -->
    </div>
{% endblock %}
