{% extends 'base.html.twig' %}

{% block title %}Message LinkedIn{% endblock %}

{% block body %}
    <div class="container">
        <h1>Message LinkedIn</h1>
        <p>{{ linkedInMessage.content }}</p>
    </div>
{% endblock %}
