{% extends 'base.html.twig' %}

{% block title %}Tableau de bord{% endblock %}

{% block body %}
    <div class="container">
        <h1>Tableau de bord</h1>
        <p>Bienvenue sur votre tableau de bord, {{ app.user.firstName }}!</p>
        <a href="{{ path('job_offer_list') }}" class="btn btn-primary">Voir les offres d'emploi</a>
    </div>
{% endblock %}
